### Imports

In [3]:
import pandas as pd
import os

In [4]:
PATH = 'data/'

files = os.listdir(PATH)

['TFT_Platinum_MatchData.csv',
 'TFT_GrandMaster_MatchData.csv',
 'TFT_Diamond_MatchData.csv',
 'TFT_Master_MatchData.csv',
 'TFT_Challenger_MatchData.csv']

In [7]:
for file in files:
    
    df = pd.read_csv(PATH+file)
    print('len {file} '.format(file=file) + str(len(df)))
    print('{file} tem ' + str(len(df['gameId'].unique())))

len TFT_Platinum_MatchData.csv 80000
{file} tem 10000
len TFT_GrandMaster_MatchData.csv 80000
{file} tem 10000
len TFT_Diamond_MatchData.csv 80000
{file} tem 10000
len TFT_Master_MatchData.csv 79999
{file} tem 10000
len TFT_Challenger_MatchData.csv 79999
{file} tem 10000

In [6]:
df

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion
0,KR_4247538593,2142.470703,8,35,1,2134.272217,"{'DarkStar': 2, 'Protector': 4, 'Rebel': 1, 'S...","{'JarvanIV': {'items': [27], 'star': 3}, 'Sona..."
1,KR_4247538593,2142.470703,9,35,2,2134.272217,"{'Blaster': 2, 'Mercenary': 1, 'Rebel': 6, 'Se...","{'Malphite': {'items': [7], 'star': 2}, 'Yasuo..."
2,KR_4247538593,2142.470703,8,34,3,2073.459229,"{'Cybernetic': 1, 'DarkStar': 3, 'Demolitionis...","{'KaiSa': {'items': [99, 2, 23], 'star': 2}, '..."
3,KR_4247538593,2142.470703,8,33,4,1998.146729,"{'Blaster': 1, 'Cybernetic': 1, 'DarkStar': 1,...","{'KaiSa': {'items': [44, 37], 'star': 2}, 'Ann..."
4,KR_4247538593,2142.470703,9,33,5,1986.443237,"{'Blaster': 2, 'Demolitionist': 2, 'Mercenary'...","{'Ziggs': {'items': [], 'star': 1}, 'Yasuo': {..."
...,...,...,...,...,...,...,...,...
79994,KR_4357265434,2094.518555,7,33,4,1838.332764,"{'DarkStar': 2, 'Demolitionist': 2, 'Infiltrat...","{'KhaZix': {'items': [67, 26, 56], 'star': 2},..."
79995,KR_4357265434,2094.518555,8,33,5,1837.548096,"{'Blaster': 1, 'Chrono': 2, 'Cybernetic': 6, '...","{'Fiora': {'items': [35], 'star': 2}, 'Leona':..."
79996,KR_4357265434,2094.518555,9,33,6,1833.472046,"{'Chrono': 2, 'Cybernetic': 1, 'Demolitionist'...","{'TwistedFate': {'items': [], 'star': 2}, 'Mal..."
79997,KR_4357265434,2094.518555,8,31,7,1730.829712,"{'Blaster': 4, 'Chrono': 2, 'Cybernetic': 1, '...","{'Malphite': {'items': [], 'star': 1}, 'Graves..."
79998,KR_4357265434,2094.518555,6,27,8,1480.288086,"{'ManaReaver': 2, 'Protector': 2, 'Set3_Celest...","{'Darius': {'items': [14, 33, 36], 'star': 2},..."

In [2]:
l = [1, 2, 3]

for i in l[:2]:
    print(i)

1
2